#section9 {
    background: #FF9C7D;
    padding-bottom: 190px ;
}

.section9-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #000000;
    padding-top: 119px;
}

.section9-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin: 29px 0 54px 0;
}

.section9-btn {
    background: #000000;
    border: none;
    padding: 0 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 450px;
}